apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devops-lab-api
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: devops-lab-api
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
