name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  k8s-validate:
    name: Validate Kubernetes Manifests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Kubernetes manifests
        uses: instrumenta/kubeval-action@master
        with:
          files: k8s/base

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: k8s-validate

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t devops-lab-api:latest ./app
